header {
    background-color: rgb(200, 207, 212);
    margin: 2px 4px;
}

header h1 {
    color: yellow;
    text-align: center;
    font-size: 3em;
}

header nav {
    text-align: center;
}

header nav a {
    font-size: 2em;
    background-color: #fff;
}