.header {
    background-color: ffff66;
    padding: 10px;
}

.header h1 {
    text-align: center;
    font-size: 2.5em;
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header nav a {
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 20px 0;
    margin: 0 50px;
    text-align: center;
    flex-grow: 1;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

#left, #ri