.search{
    width: 520px;
    height: auto;
    border: 1px solid lightgray;
    display: flex;
}
.search input{
    height: 30px;
    width: 450px;
    margin: 0;
    border: none;
    padding: 0;
}
.search button{
    height: 30px;
    width: 70px;
    margin: 0;
    border: none;
}
.search button:hover{
    background-color: lightgrey;
}
.search button img{
    width: 20px;
    vertical-align: middle;
}